{
  "extends": [
    "standard",
    "prettier",
    "prettier/standard"
  ],
  "env": {
    "jest/globals": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parser": "typescript-eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "plugins": [
    "node",
    "jest",
    "prettier",
    "standard"
  ],
  "rules": {
    "no-return-assign": 0
  }
}